# Dependencies
node_modules/

# Build
dist/
.next/

# Environment
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/migration_lock.toml